@layer base {

    .bg-glass {
        backdrop-filter: blur(13px) saturate(161%);
        -webkit-backdrop-filter: blur(13px) saturate(161%);
        background-color: rgba(255, 255, 255, 0.36);
        border: 1px solid rgba(209, 213, 219, 0.3);
    }

    .bg-glass-light {
        backdrop-filter: blur(3px) saturate(180%);
        -webkit-backdrop-filter: blur(3px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.23);
        border: 1px solid rgba(209, 213, 219, 0.3);
    }

    .bg-glass-hard {
        backdrop-filter: blur(25px) saturate(172%);
        -webkit-backdrop-filter: blur(25px) saturate(172%);
        background-color: rgba(255, 255, 255, 0.72);
    }

//  Colour Primary
    .bg-primary {
        @apply bg-pink-500
    }

    .bg-primary-actions {
        @apply bg-pink-700
    }

    .border-primary {
        @apply border-pink-700
    }

    .text-primary {
        @apply text-pink-500
    }

//  Colour Secondary

    .bg-secondary {
        @apply bg-gray-100
    }

    .bg-secondary-actions {
        @apply bg-gray-100
    }

    .border-secondary {
        @apply border-gray-700
    }

    .text-secondary {
        @apply text-gray-400
    }

//  Flex Utilities
    .flex-between {
        @apply flex justify-between;
    }


//    Headings
    h1 {
        @apply font-semibold text-gray-800 leading-tight text-lg;
    }
    h2{
        @apply font-semibold text-gray-800 leading-tight text-base;
    }
    h3{
        @apply font-semibold text-gray-800 leading-tight text-sm;
    }
    p {
        @apply text-gray-800 leading-tight text-xs;
    }
}
